{% extends "finances/base.html" %}
{% load humanize %}

{% block content %}
    <div class="row">
        <div class="col-4">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Total Balance</h3>
                    <p class="card-text">Rp. {{ total_balance.balance__sum|intcomma }}</p>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Monthly Spending</h3>
                    <p class="card-text">Rp. {{ monthly_spending.amount__sum|intcomma }}</p>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Income</h3>
                    <p class="card-text">TODO</p>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Category Spending</h4>
            <p class="card-text">Text</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Item 1</li>
            <li class="list-group-item">Item 2</li>
            <li class="list-group-item">Item 3</li>
        </ul>
    </div>
    
    
{% endblock content %}
    