{% extends 'finances/base.html' %}
{% load humanize %}
{% block content %}
{{ request.GET.account}}
    <div class="d-flex align-items-center justify-content-between mb-3">
        <h2 class="fw-bold mb-4 display-6">Transactions</h2>
        <a href="{% url 'transaction_create' %}" class="btn btn-primary">
            <i class="bi bi-plus-lg"></i> Add Item
        </a>
    </div>
    <div class="row">
        <div class="col-4">
            <div class="border border-3 rounded border-dark">
                <div class="container mt-3">
                    <form method="GET">
                        <div class="mb-3">
                            <label for="" class="form-label">Category</label>
                            <select
                                class="form-select form-select-lg"
                                name="category"
                                id=""
                                onchange="this.form.submit()"
                            >
                                <option value="">All</option>
                                {% for category in categories %}
                                    <option 
                                        value="{{ category.id }}"
                                        {% if request.GET.category == category.id|stringformat:"s" %}
                                            selected
                                        {% endif %}
                                        >{{category.name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="" class="form-label">Accounts</label>
                            <select
                                class="form-select form-select-lg"
                                name="account"
                                id=""
                                onchange="this.form.submit()"
                            >
                                <option value="">All</option>
                                {% for account in accounts %}
                                    <option 
                                        value="{{ account.id }}"
                                        {% if request.GET.account == account.id|stringformat:"s" %}
                                            selected
                                        {% endif %}
                                    >{{account.name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <div class="mb-3">
                                    <label for="" class="form-label">Month</label>
                                    <select
                                        class="form-select form-select-lg"
                                        name="month"
                                        id=""
                                        onchange="this.form.submit()"
                                    >
                                        <option value="">All</option>
                                        {% for month in months %}
                                            <option 
                                                value="{{ month.date__month }}"
                                                {% if current_date.month == month.date__month %}selected{% endif %}
                                            >{{month.month_name}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="col">
                                <div class="mb-3">
                                    <label for="" class="form-label">Year</label>
                                    <select
                                        class="form-select form-select-lg"
                                        name="year"
                                        id=""
                                        onchange="this.form.submit()"
                                    >
                                        {% for year in years %}
                                            <option value="{{ year.date__year }}"
                                            {% if current_date.year == year %}selected{% endif %}
                                        >{{year.date__year}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <div class="col-sm-4">
                                <a href="{% url 'transaction_list' %}" class="text-decoration-none text-muted">Reset</a>
                            </div>
                            <div class="offset-sm-4 col-sm-4">
                                <button type="submit" class="btn btn-primary">
                                    Filter
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                
            </div>
        </div>
        <div
            class="table-responsive col-8"
        >
            <table
                class="table table-striped table-hover table-borderless table-primary align-middle"
            >
                <thead class="table-light">
                    <tr>
                        <th>Transaction Name</th>
                        <th>Account</th>
                        <th>Category</th>
                        <th>Amount</th>
                        {% comment %} <th>Description</th> {% endcomment %}
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    {% for transaction in object_list %}
                    <tr
                        class="table-info"
                    >
                        <td scope="row">{{ transaction.name }}</td>
                        <td scope="row">{{ transaction.account }}</td>
                        <td scope="row">{{ transaction.category }}</td>
                        <td scope="row"
                            class="
                            {% if transaction.type == transaction.TransactionTypes.EXPENSE %}
                                text-danger
                            {% elif transaction.type == transaction.TransactionTypes.INCOME %}
                                text-success
                            {% endif %}">Rp. {{ transaction.amount|intcomma }}</td>
                        {% comment %} <td scope="row">{{ transaction.description }}</td> {% endcomment %}
                        <td>
                            <a href="{% url 'transaction_detail' transaction.id %}">
                                <button class="btn btn-warning">Detail</button>
                            <a href="{% url 'transaction_update' transaction.id %}">
                                <button class="btn btn-warning">Edit</button>
                            <a href="{% url 'transaction_delete' transaction.id %}">
                                <button class="btn btn-warning">Delete</button>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                </tfoot>
            </table>
        </div>
    </div>
{% endblock content %}