{% load django_browser_reload %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account List View</title>
</head>
<body>
    <h1>Accounts</h1>
    <th>Account Name</th>
    <th>Balances</th>
    <br>
    {% for Account in object_list %}
    <tr>
        <td>{{ Account.name }}</td>
        <td>{{ Account.balance }}</td>
        <br>
    </tr>
    {% endfor %}
    {% django_browser_reload_script %}
</body>
</html>